<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>element-admin-master</title>
    <link href="./static/css/app.c7940411a3ab3a38cec8f2997f77ddc0.css" rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type="text/javascript" src="../static/js/manifest.65888b4cf5b71528ff68.js">
    </script>
    <script type="text/javascript" src="../static/js/vendor.2ba18726066546a1a11d.js">
    </script>
    <script type="text/javascript" src="../static/js/app.c25f2f152680cd6a0725.js">
    </script>
</body>

</html>