$side-bg:#20222a;
$side-bg-hover: #16181d;
$side-li-bg:#409eff;
$side-active:#f00;
$side-li-open:#16181d;
$side-li-visited:#409eff;
$line:#ebeef5;

$table-thead-bg:#f5f7fa;

$process:#303133;
$finish:#409EFF;
$wait:#c0c4cc;
$primary:#409EFF;
$success:#67C23A;
$waring:#E6A23C;
$danger:#F56C6C;
$info:#909399;

$bg:#f6f7f9;
// tag-nav
$tag-nav-bg:#F0F0F0;

$p: #606266;
$p-hover:#409EFF;

$title:#303133;